.DS_Store
.editorconfig
.env
.gitmodules
LICENSE
Dockerfile

.history/**
.nyc_output/**
coverage/**
node_modules/**
dist/**

*ignore
*.ttf
*.map
*.log
*.md
*.svg
*.png
*.txt
*.jpg
*.gif
*.diff
*.pem
*.sh
*.css
